
*~
ac-init.generated
aclocal.m4
autom4te.cache/
*.beam
build
config.log
config.status
configure
configure.ac
create-package
doc/edoc-info
doc/erlang.png
doc/index.html
doc/Makefile
doc/Makefile.am
doc/Makefile.in
doc/modules-frame.html
doc/overview-summary.html
doc/packages-frame.html
doc/pokemon_pb.html
doc/protobuffs_compile.html
doc/protobuffs.html
doc/protobuffs_parser.html
doc/.run_edoc
doc/stylesheet.css
ebin
fw
fw-pkgin/Makefile
fw-pkgin/Makefile.am
fw-pkgin/Makefile.in
fw-pkgin/.post-install.script_ok
fw-pkgin/.post-remove.script_ok
fw-pkgin/.pre-install.script_ok
fw-pkgin/.pre-remove.script_ok
fw-pkgin/.start.script_ok
fw-pkgin/.stop.script_ok
fw-pkgout
fw-pkgtmp
*.gz
install-sh
Makefile
Makefile.am
Makefile.in
Makefile.otp
missing
src/erlangprotobuffs.app
src/fw-erl-app-template.app
src/fw-erl-app-template.app.in
src/Makefile
src/Makefile.am
src/Makefile.in
tests/Makefile
tests/Makefile.am
tests/Makefile.in
tests/otp-test-wrapper.sh
